
html {
    font-family: Verdana, sans-serif;
    font-size:0.8em;
}
footer {
    text-align: center;
}

h1, nav {
    text-transform: capitalize;
}

h2 {
    font-variant: small-caps;
}

p {
    text-align: justify;
}
body
{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    background-color: #f3f3f3;
}

nav ul {
    margin:0;
    padding:0;}

nav ul li {
    display:inline;
    margin:5px;}

#navheaderDef {
    border:1px solid grey;
    margin:5px;
    padding:8px;}