/* logo */
#figHeader > img {
    width: 27%;
    height: 28%;
    float: left;
    margin-left: -4%;
    border: dotted thick black;
}

/* header title */
section > div > h1 {
    font-size: 24pt;
    font-family: fantasy;
    width: 68%;
    height: 28%;
    float: right;
    background-color: brown;
}



#article1 {
    width: 32%;
    height: 550px;
    float: left;
    background-color: cornflowerblue;
}

#articleMiddle2 {
    width: 30%;
    max-width: 150px;
    height: 550px;
    display: inline;
    background-color: blueviolet;
}

#article3 {
    width: 32%;
    height: 550px;
    float: right;
    background-color: pink;
}
