/* logo */
#figHeader > img{
    width: 27%;
    float: left;
    margin-left: -4%;
    border: dotted thick black;
}
/* header title */
section > div > h1 {
    font-size: 24pt;
    font-family: fantasy;
    width: 68%;
    float: right;
    background-color: brown;
}

header
{
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
}

#article1{
    width: 32.5%;
    float: left;
}
#article1{
    width: 32.5%;
    display: inline-block;
}
#article3{
     width: 32.5%;
     float: right;
 }
