/* logo */
#figHeader > img {

}

/* add comment here */
.grid-33 > main {
    background-color: lime;
    height: 60%;
    min-height: 250px;

}

/* add comment here */
.grid-33 > footer {
    background-color: darkgray;
    height: 30%;
    min-height: 150px;

}


