#bugHead{
    height: 140px;
    background-color: #DBC9DF;
}

#logoHeader{
    height: 125px;
}
#hSection1{
    height: 140px;
    vertical-align: middle;
    background-color: greenyellow;
}
header > section > span{
    font-size: 22pt;
    font-weight: bolder;
}

#hSection2{
    height: 140px;
    vertical-align: bottom;
    background-color: yellow;
}
header > section > span > span{
    font-size: 20pt;
}
