#bugHead{
    height: 140px;
    background-color: #DBC9DF;
}

#logoHeader{
    height: 125px;
}

header > section > span{
    font-size: 22pt;
    font-weight: bolder;
}

header > section> section{
    vertical-align: bottom;
    background-color: yellow;
}
header > section > span > span{
    font-size: 20pt;
}
