#bugHead{
    height: 140px;
    background-color: #DBC9DF;
}

#logoHeader{
    height: 125px;
}
#hSection1{
    vertical-align: middle;
   /* background-color: greenyellow;*/
}
header > section > span{
    font-size: 22pt;
    font-weight: bolder;
}

#hSection2{
    margin-top: 2%;
    vertical-align: bottom;
    /*background-color: yellow;*/
}
header > section > span > span{
    font-size: 20pt;
    font-weight: normal;
}
