
#figHeader{
    width: 250px;
}

#lowerBan{
    height: 100px;
    width: 960px;
}

#wifie{
    width: 240px;
}
#article1{

}
#article1Side{
    background-color: #DBC9DF;
}

#article2Side{
    background-color: #782A7E;
}

#mainSection{
    margin: 0 0 0 -2%;
}
#wifie{
    margin: 0 0 0 -2%;
}
main > section > article > h1{
    font-size: 18pt;
}

main > section > article > span{
    margin-top: -10px;
}